<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
        <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

    <h1 th:text="Task + ${task.id}">Task:</h1>
    <p>ID: <span th:text="${task.id}"></span></p>
    <p>Description: <span th:text="${task.description}"></span></p>
    <p>Status: <span th:text="${task.status}"></span></p>
    <p>CompletionTime: <span th:text="${task.completionTime}"></span></p>
    <p>Executors: <span th:text="${task.executors}"></span></p>


    <h1>-------------------------------------------------</h1>




</body>
</html>